body{
    background-color: rgb(120, 188, 237) ;
}
header {
    background-color:#000000;
}
  
.logo{
        width: 150px;

}
ul{
  color: white;
}
nav {
    position: absolute;
    top: -10px;
    right:30;
    margin-left: 50%;
    font-size: 20px; font-family: monospace;

}
nav li {
    display: inline;
}
.home{
  margin-top: 10%;
  text-decoration: none;
    background-color: hsl(220, 80%, 65%);
    color: rgb(221, 243, 116);
    padding: 7px;
    display: inline-block;
    font-family: arial, sans-serif;
    position: relative;
  
}
.home:after {
    content: '';
    position: absolute;
    border-bottom: solid 5px rgb(167, 80, 234);
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 500ms;
}
.home:hover:after {
    right: 0;
}
.textoPrincipal{
    font-size: 30px; text-align: justify; font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(88, 175, 241);
    border: 7px #120355 solid;
    

}
.imagemPrincipal{
    width: 300px;
    margin-left: 35%;
}

/* Professores*/
.imagemordem{
    display: inline-block;

}
.prof {
width: 100px;
height: 100px;
margin-top: 10px;

}
.LogoGit {
    display: inline;
    width: 140px;

}
.nome{
    display: inline-block;
  
}
.conteiner{
    display: flex;

}

.prof-texto-imagem{
    display: flex;


}

.conteudo-prof{
    text-align: center;
}

.todos-profs{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}
.lista{
    list-style: none;
}